@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
}
h1,h2,h3, .nav-items{
  font-family: Helvetica;
}
body{
  background-color: rgb(231, 231, 231);
}
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom, rgb(7, 7, 7), black);
    color: white;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Black */
    cursor: pointer;
  }
}

.canvas-container>div>canvas{
  width: 100% !important;
  height: 100% !important;
}

#hero-text{
  font-weight: 800;
  font-style: normal;
}
::-webkit-scrollbar{
  width: 10px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#a92ba0, #4e0b6f);
}

